body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.name-orange{

    color: orange;
}

#border{
    
    font-size: 40px;
    padding: 0ch;
    margin: 0ch;
    border-left: 2px solid orange;
    margin-left: 2px;
    padding: 0px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}


.half-width{
 width: 50%;
 padding: 2%;
}
.half-width img{
    width: 60%;
    align-self: center;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(red,yellow);
    padding: 10px 30px;
    border-radius: 5px;
    color: palegoldenrod;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
}
#scrol{
    font-size: 15px;
    margin-top: 15px;

}
#mid-point{
    text-align: center;
}
.year{
    color: orange;
}
#mission1{
    text-align: center;
    font-size: 1000;
    
}
.half-width2 img{
    width: 20%;
    align-self: center;
}
.half-width2{
    width: 50%;
    padding: 2%;
    margin: 50px 30px 80px 50px;
    box-shadow: 10px 10px 10px 10px white;
    border-radius: 10px;
    background-color: lightgreen;
   }

   footer {
   
    justify-content: center;
    padding: 5px;
    background-color: #101111;
    color: #fff;
    text-align: center;
}
#footyeryear{
    color: red;
}